@use '../helpers' as *;

.footer {

    &__body {
        text-align: center;
        max-width: rem(800);
        margin-inline: auto;
        margin-bottom: rem(70);
        @include mobile {
            margin-bottom: rem(30);
        }
    }
    &__title {
        font-family: 'OpenSans';
        margin-bottom: rem(35);
        color: var(--color-orange);
    }
    &__menu {
        margin-bottom: rem(50);

        &-list {
            display: flex;
            justify-content: space-between;
            @include mobile {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: rem(20);
            }
        }
        &-link {
            font-weight: 300;
            font-size: rem(18);
            @include hover {
                color: var(--color-orange);
            }
        }
    }
    &__extra {
        display: flex;
        align-items: start;
        justify-content: space-between;
        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: rem(30);
        }
    }
    &__info {
        position: relative;
        display: grid;
        row-gap: rem(12);
        font-weight: 300;
        font-size: rem(18);

        &-link,
        &-text {
            display: flex;
            align-items: center;
            column-gap: rem(6);
        }
        &-link {
            @include hover {
                color: var(--color-orange);
            }
        }
    }
}

.socials {
    justify-self: center;

    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(25);
    }
    &__link {
        @include hover {
            & path {
                fill: var(--color-orange);
            }
        }
    }
}